[submodule "archon/mt_bench/FastChat"]
	path = archon/mt_bench/FastChat
	url = https://github.com/lm-sys/FastChat
[submodule "archon/alpaca_eval/alpaca_eval"]
	path = archon/alpaca_eval/alpaca_eval
	url = https://github.com/tatsu-lab/alpaca_eval
